html, body {
  width: auto;
  height: 240px;
  font-family: "arial";
  background-color: #101010;
  color: #808080;
  font-size: 10pt;
  min-width: 450px;
  padding: 4px 4px 4px 4px;
  margin: 0px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 250px;
}

div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

input, textarea {
  background-color: #101010;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  margin: 2px;
  max-width: 100vw;
}

input[type=text]{
align-self: stretch;
flex-grow: 2;
}

#pullBtn{
  min-width: 50px;
}

.notify{
margin: 0px;
padding: 0px;
}

.patt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gap{
display: flex;
  flex-direction: row;
  justify-content: flex-start; 
}

.list{
display: flex;
align-items: stretch;
flex-direction: row;
flex-grow:2;
}

.copy{
display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

#listTxtAr{
flex-grow:2;
width:auto;
max-width: 100vw;
height: auto;
resize: auto;
}


.button {
  margin: 3% auto;
  padding: 2px;
  text-align: center;
  font-size: 10pt;
  cursor: pointer;
  border: 1px solid #e6e6e6;
}

.button:focus{
  border: 1px solid #000000;
}

.nowbtn{
margin-bottom: 3px;
width: 100%;
text-align: right;
}

.btn{
border: 1px solid #e6e6e6;
background-color: #31B0D5;
color: #ffffff;
padding: 3px 5px 3px 5px;
border-radius: 4px;
margin: 0px 0px 0px 0px;
}

.btn:active{
border-color: #888888;
}

#tgl{
display: none;
}

#tgl:checked+.btn{
background-color: #31B0D5;
color: #ffffff;
}

a{
font-size: 8pt;
text-decoration: none;
}

.notify{
border: 1px solid #FFA4B2;
border-radius: 3px;
background-color: #FFD2D9;
padding: 4px 4px 4px 4px;
color: #FF3B5A;
text-align: center;
margin-bottom: 4px;
opacity: 0;
height: auto;
max-height: 0px;
margin-bottom: 0px;
}

#fadeOut{
animation:opac 5s;
opacity: 0;
height: auto;
max-height: 0px;
margin-bottom: 0px;
}

@keyframes opac{
0%{opacity:1; max-height: 200px; margin-bottom: 4px;}
99%{opacity:0; max-height: 200px; margin-bottom: 4px;}
100%{max-height: 0px; margin-bottom: 0px;}
}

